@import "tailwindcss";
 /*common*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(244, 160, 4, 0.52) black; /* thumb color track color */
}
/* header component */
.header-menu{
  list-style: none;
  display: flex;
  gap:25px;
}
.header-menu li:hover{
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}
.header-menu li{
  text-decoration: none;
  color: white;
  font-weight: 500;
}
/* footer component */
.footer-icons{
  display: flex;
}
.footer-icons img{
  width: 50px;
  height: 50px;
}
/* Home Page */
.button-Home:hover{
  cursor: pointer;
  transform: scale(1.1);
}
/* Home-Page Skills Bar */
.skills-bar {
  width: 100%;
  background-color: #1a1a1a;
  padding: 15px 0;
  overflow: hidden;
  border-top: 1px solid #333;
}
.skills-track {
  display: flex;
  gap: 10%;
  white-space: nowrap;
  animation: scrollSkills 10s linear infinite;
}
.skills-track span {
  color:rgb(200, 150, 56);
  font-weight: 500;
  /* display: inline-block; */
  transition: transform 0.3s ease, color 0.3s ease;
}

.skills-track span:hover {
  color: #aaa;
  transform: scale(1.2);
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skills-bar:hover{
  cursor: pointer;
}
@keyframes typing1 {
  0%, 5% {
    width: 0;
  }
  20%, 45% {
    width: 100%;
  }
  50%, 100% {
    width: 0;
  }
}

@keyframes typing2 {
  0%, 50% {
    width: 0;
  }
  65%, 90% {
    width: 100%;
  }
  95%, 100% {
    width: 0;
  }
}

.typing-text {
  animation-timing-function: steps(25, end);
  white-space: nowrap;
  display: inline-block;
  position: relative;
}
.animate-typing1 {
  animation: typing1 12s infinite;
}
.animate-typing2 {
  animation: typing2 12s infinite;
}

/* About page */
.skill-set{
  display: flex;
  align-items: center;
  gap: 15px;
}
.skill-name{
  font-size: 18px;
  font-weight: 500;
  width: 230px;
}
/* Project Page */
.projects{
  font-size: 140%;
  font-weight: bolder;
  display: flex;
  gap: 6px;
}
.projects-count{
  color:orange;
}
.project-status{
  font-weight: 300;
}
.skill-style{
  background-color: rgb(37, 37, 37);
  width: max-content;
  padding: 4px 8px;
  border-radius: 10px;
}
/* .button-Project a:hover{
  cursor: pointer;
  transform: scale(1.2);
  backdrop-filter: blur(5px);
} */
.project-images {
  width: 400px;       
  height: auto;       
  flex-shrink: 0;   
}
.project-images img {
  width: 100%;
  height: auto;
  /* object-fit: contain;  */
  /* border-radius: 10px; */
}
.projectName:hover{
text-decoration: underline;
color: orange;
}
.skillsList span:hover{
  transform:scale(1.1);
  color: orange;
}

/* Contact Page */
.contactlabel{
  display: block;
  font-size: 14px; 
  margin: 8px 0;
}
.contactinput{
  width:90%;     
  border: none;                     
  border-bottom: 1px solid rgb(154, 141, 141); 
  color: white;   
  overflow: hidden;      
  resize: none;                      
}
.contactlabel:hover{
  cursor: pointer;
  color: orange;
  font-weight: bolder;
}
.contact-button:hover{
  cursor: pointer;
  transform: scale(1.2);
  backdrop-filter: blur(5px);
}
.error{
  color: orange;
}
/* footer */
.footer-icons a:hover{
  cursor: pointer;
  transform: scale(1.4);
  backdrop-filter: blur(5px);
}
/* common h2 tag-heading  */
.h2-heading:hover{
cursor: pointer;
text-decoration: underline;
color: orange;
}
